body {
  font-family: helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  text-align: center;
}

ul li {
  list-style-type: none;
}

.term {
  font-weight: bold;
}

.paragraph {
  font-style: italic;
}


